header{
    background-color: #4682A9;
}

.header-item{
    color: #F6F4EB;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #F6F4EB;
}

.profile-img {
    height: 200px;
    border-radius: 50%;
}

h1{
    color: #749BC2;
}

h2{
    color: #749BC2;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: #91C8E4;
}

.resume-title{
    font-weight: bold;
}

.date{
    font-style: italic;
}